@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --text: #FFFFFF;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --blur-bg: rgba(9, 18, 50, 0.8);
}

html,
body {
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}
